*[class*="coll-wrapper"] { position: relative;}
*[class*="coll-btn"], *[class*="acc-btn"] { cursor: pointer;}
*[class*="coll-content-wrapper"]{
	display: none;
}
.coll-content-wrapper.displayed{
	display: block;
}
.coll-content-wrapper.before-collapsing{
	position: absolute;
	visibility: hidden;
	display: block;
}
.coll-content-wrapper.collapsing{
	position: static;
    height: 0;
    overflow: hidden;
    display: block;
    transition: $transition;
}