*[class*="coll-wrapper"], *[class*="coll-wrapper"] { position: relative;}
*[class*="coll-btn"], *[class*="acc-btn"] { cursor: pointer;}
*[class*="coll-content"], *[class*="coll-content"]{
	display: none;
}
*[class*="coll-content"].displayed, *[class*="coll-content"].displayed{
	display: block;
}
*[class*="coll-content"].before-collapsing, *[class*="coll-content"].before-collapsing{
	position: absolute;
	visibility: hidden;
	display: block;
}
*[class*="coll-content"].collapsing, *[class*="coll-content"].collapsing{
	position: static;
    height: 0;
    overflow: hidden;
    display: block;
    transition: $transition;
}