$space1: .2rem;			// Common space value for paddings and margins
$space2: .7rem;
$space3: 1.3rem;
$space4: 2rem;
$space5: 2.2rem;
$space6: 2.6rem;

$breakS: 320px;		// Breaking points of website 
$breakM: 768px;
$breakL: 1024px;

$transition: .5s ease;

$headerHeight: 70px;

@import 'grid';
@import 'collapser';

header{
	background: #eee;
	text-transform: uppercase;
	nav{
		font-size: $space3;
		font-weight: 700;
	}
}

*[class*="coll-btn"], *[class*="acc-btn"] { 
	background: salmon;
	.coll-btn-description{padding: $space1 $space3;}
}
.coll-content-wrapper{
	background: darkcyan;
	.coll-content{padding: $space1 $space3;}
}